html {
    min-width: 100%;
    margin: 0;
    font-family: Roboto;
    background-color: #151515;
}

body {
    margin: inherit;
    width: inherit;
}

header {
    padding: 5px;
    margin: inherit;
    width: inherit;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    width: inherit;
    background-color: #fc0;
    border-radius: 5px;
    /*box-shadow: 0 1px 5px 0 black;*/
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img{
    max-width: 7em;
}

.title {
    text-wrap: normal;
}

.title h1 {
    font-size: x-large;
}

.title h2 {
    font-size: larger;
    font-weight: lighter;
}

.divider {
    width: 0.5px;
    background-color: black;
    margin: 1em;
    border: 0.5px solid black;
    border-radius: 50px;
    opacity: 0.7;
}

.horizontalDivider {
    height: 0.5px;
    background-color: black;
    border: 0.5px solid black;
    border-radius: 50px;
    opacity: 0.1;
}

.mainContainer {
    width: inherit;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuItem {
    display: flex;
    flex-direction: column;
    background-color: #7FAE4E;
    border-radius: 5px;
    padding: 5px;
    margin: 0.5em 0;
}

.itemMain {
    display: flex;
    flex-direction: row;
}

.itemImage img {
    max-width: 10em;
    border-radius: 5px;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.itemIngs ul {
    padding-left: 1em;
    margin: 0;
}

.itemIngs {
    padding-top: 1em;
}

.itemNameIngs {
    display: flex;
    flex-direction: column;
}

.itemDescription {
    background-color: #151515;
    color: lightgrey;
    border-radius: 5px;
    margin-top: 1em;
    padding: 10px;
}

.itemDescription h4 {
    padding: 0;
    margin: 0;
}

.itemDescription p {
    margin-left: 10px;
}

footer {
    padding: 5px;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    width: inherit;
    background-color: #fc0;
    border-radius: 5px;
    padding: 0 10px;
}

.copyright {
    min-width: 70%;
    padding: 0.5em;
}

.copyright p {
    padding: 0;
    margin: 0;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.links img {
    max-width: 2.5em;
}

.links a {
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}

.author {
    opacity: 0.5;
}