html {
    min-width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Roboto;
    background-color: white;
    background-image: url("Images/Initial/background.jpg");
    background-size: cover;
    z-index: -1;
}

body {
    margin: inherit;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
}

header {
    padding: 5px;
    margin: inherit;
    width: inherit;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fc0;
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px black;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
}

.logo img{
    max-width: 5em;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5em;
}

.title h1 {
    font-size: xx-large;
}

.divider {
    background-color: black;
    margin: 1em;
    border: 0.5px solid black;
    border-radius: 50px;
    opacity: 0.5;
}

.horizontalDivider {
    height: 0.5px;
    background-color: black;
    border: 0.5px solid black;
    border-radius: 50px;
    opacity: 0.1;
}

.mainContainer {
    width: inherit;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 33%;
    justify-content: space-evenly;
}

.menuItem {
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px black;
    margin: 0.5em 0;
    min-width: 20em;
    max-width: 25em;
    height: min-content;
}

.bg_image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.itemMain {
    width: 100%;
    position: relative;
    padding: 0;
}

.itemName h2 {
    margin: 0;
    padding: 0;
}

.itemInfo {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.itemName {
    background-color: white;
    border-radius: 0 10px 0 0;
    padding: 0 0.5em;
    width: min-content;
}

.itemDescription {
    background-color: white;
    /*background-color: #151515;*/
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.itemDescription h4 {
    padding: 0;
    margin: 0;
}

.itemDescription p {
    margin: 0 10px;
}

footer {
    padding: 5px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    width: inherit;
    background-color: #fc0;
    border-radius: 5px;
    padding: 5px 10px;
}

.copyright {
    min-width: 70%;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyright p {
    padding: 0;
    margin: 0;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.links img {
    max-width: 2.5em;
}

.links a {
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}

.author {
    opacity: 0.5;
}

.author a {
    text-decoration: none;
    color: inherit;
}