html {
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: Arial;
    background-color: white;
    background-image: url("Images/Initial/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

body {
    position: relative;
    margin: inherit;
    width: inherit;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}

header {
    margin: inherit;
    width: inherit;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fc0;
    box-shadow: 0 5px 10px -5px black;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
}

.logo img{
    max-width: 5em;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5em;
}

.title h1 {
    font-size: xx-large;
}

.divider {
    background-color: black;
    margin: 1em;
    border: 0.5px solid black;
    border-radius: 50px;
    opacity: 0.5;
}

.horizontalDivider {
    height: 0.5px;
    background-color: black;
    border: 0.5px solid black;
    border-radius: 50px;
    opacity: 0.1;
}

.toggleAddable {
    position: fixed;
    right: 0;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    max-width: 90%;
    border-radius: 10px 0 0 10px;
    background-color: #ffcc00;
    display: flex;
    flex-direction: row-reverse;
    z-index: 10;
    animation: ease-in-out 0.5s;
    box-shadow: 0 0 10px 0 black;
}

.expandAddable {
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    width: 100%;
    border-radius: 10px 0 0 10px;
    background-color: #fc0;
    padding: 1em;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all 0.5s;
}

.expandAddable h2 {
    margin: 0;
    writing-mode: vertical-lr;
}

.addableList {
    width: 100%;
    display: none;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    max-height: 70vh;
    white-space: nowrap;
    padding: 1em 0 1em 1em;
    animation: fadeIn 1s;
}

.addableList::-webkit-scrollbar {
    display: none;
}

#listBottom {
    width: 100%;
    height: 0.5em;
}

.addableList ul {
    padding: 0.5em;
}

.addableList li {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
}

.addableList li div {
    width: 100%;
    border-bottom: 1px dotted black;
}

.listText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;
    max-width: 70%;
    margin: 0;
    padding: 0;
}

.align-text-right {
    text-align: right;
}

.activeAddable {
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    width: 20%;
}

.specialContainer {
    display: flex;
    flex-direction: column;
}

.toggleSpecial {
    align-self: center;
    max-width: 35em;
    text-align: center;
    align-items: center;
    margin: 1em 0.5em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 0 lightpink;
}

.expandButton {
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
    background-color: #fc0;
    padding: 0 1em;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.activeSpecial {
    box-shadow: 0 5px 10px -5px rgba(0,0,0, 0.5);
    border-radius: 10px 10px 0 0;
}

#wrapper {
    transition: all 1s ease-in-out;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.hidden {
    display: none;
    overflow: hidden;
    box-shadow: 0 5px 10px -5px black;
}

.mainContainer {
    position: relative;
    width: inherit;
    min-height: min-content;
    padding: 10px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    row-gap: 0;
    flex: 1 0 33%;
    justify-content: space-evenly;
}

.expandItem {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    z-index: 1;
}

.menuItem {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px black;
    margin: 0.5em 0;
    width: 47%;
    max-width: 20em;
    height: min-content;
    transition: 0.3s ease-out;
    text-align: left;
}

.seasonalItem {
    border: 2px solid lightpink;
}

.dividerTitle {
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #ffcc00;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
}

.dividerTitle h4 {
    text-align: center;
    margin: 0;
    padding: 0;
}

/*Debug*/
.activeItem {
    position: fixed;
    max-height: 90vh;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    overflow: auto;
    z-index: 5;
    box-shadow: 0 0 10px 0 black;
    transition: 0.3s;
}

.bg_image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.itemMain {
    width: 100%;
    position: relative;
    padding: 0;
}

.itemName {
    max-width: 100%;
    background-color: white;
    border-radius: 0 10px 0 0;
    padding: 0 0.5em;
    width: fit-content;
}

.itemName h2 {
    font-size: min(5vw,30px);
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.activeItemName h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.itemInfo {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
}

.itemInfoStandby {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1em;
}

.itemPrice {
    width: min-content;
    margin: 0 0 0.5em 1em;
    padding: 3px 5px;
    background-color: #fc0;
    border-radius: 10px;
}

.itemPrice h4 {
    margin: 0;
}

.itemDescription {
    background-color: white;
    text-align: left;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
}

.itemDescription p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px;
}

.activeItemDescription p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.toggleFakeBack {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    opacity: 0.3;
    background-color: black;
    display: block;
    z-index: 4;
    transition: all 0.5s;
}

footer {
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: 0;
    flex-shrink: 0;
}

.footerContainer {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    width: inherit;
    background-color: #fc0;
    padding: 5px 10px;
    align-items: center;
}

.copyright {
    min-width: 70%;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyright p {
    padding: 0;
    margin: 0;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.links img {
    max-width: 2.5em;
}

.links a {
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}

.author {
    opacity: 0.5;
}

.author a {
    text-decoration: none;
    color: inherit;
}